name: OIDC whoami
on: workflow_dispatch
jobs:
  whoami:
    - name: Checkout
      uses: actions/checkout@v3
    - name: Configure AWS credentials
      uses: aws-actions/configure-aws-credentials@v1-node16
      with:
        role-to-assume: ${{ secrets.AWS_ACTIONS_ROLE }}
        aws-region: us-west-2
    - name: Print info
      run: |
        echo "Key: $AWS_ACCESS_KEY_ID"
        echo "Token: $AWS_SESSION_TOKEN"
        echo "Region: $AWS_REGION"
        echo "Role: ${{ secrets.AWS_ACTIONS_ROLE }}"
    - name: Who AM I?
      run: |
        aws sts get-caller-identity
